<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEBTEK | Finals</title>

    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="styles/pmfgStyle.css" rel="stylesheet">
    
     <link rel = "icon" href = "./img/logofinal.jpg">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WEBTEK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>

                    <li>
                        <a href="prelim.html">Prelim</a>
                    </li>
                    <li>
                        <a href="midterm.html">Midterm</a>
                    </li>
                    <li>
                        <a href="#page-top" class="page-scroll">Finals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome!</div>
                <div class="intro-heading">Web Systems and Technologies</div>
                <a href="#topics" class="page-scroll btn btn-xl">Finals Lessons Click Here</a>
            </div>
        </div>
    </header>

    <div id="topics" class= "lessons menu ">
            <ul>
                <li><a href="#session">Session Handling</a></li>   
                <li><a href="#php">PHP</a></li>
                    <li><a href="#js">JavaScript</a></li>
            </ul>
    </div>
    <div class= "lessons content">
            
    <div id="session" class= "">
        <h1>SESSION HANDLING</h1>
        <p>Request coming from different users.</p>
        <p>Extension:</p>
        <p>Cookie - small text file that contains information.</p>
        
    </div>
    <div id="php" class= "">
        <h1>PHP</h1>
        <p>To use PHP install first PHP support.</p>
        <p>Apache alone does not have php module.</p>
        <p>PHP is a general purpose programming language and at early age php is procedural.</p>
        <br>
		<h1>PHP SuperGlobals: </h1>
        <p>$GLOBALS- used to access global variables from anywhere in the PHP script</p>
        <p>$_SERVERS- it is an array containing information such as headers,paths, and script locations.</p>
        <p>$_GET and $POST- both used to collect form-data.</p>
		<p>$_REQUEST- is used to collect data after submitting an HTML form.</p>
		<p>$_POST-  is widely used to collect form data after submitting an HTML form with method="post". </p>
		<p>$_FILES- for uploading multiple files.</p>
		<p>$_ENV- is used to return the environment variables from the web server.</p>
		<p>$_COOKIE- Cookies are small text files loaded from a server to a client computer storing some information regarding the client computer.</p>
		<p>$_SESSION-  are wonderful ways to pass variables.</p>
    </div>
    
    <div id="js" class= "">
         <h1>JAVASCRIPT</h1>
		<p>JavaScipt- is the programming language of HTML and the Web.</p>
		<br>
		<h1>NODE JS</h1>
        <p>NODE JS-  is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side.</p>
        <p>MEAN STACK (MONGO Db, EXPRESS, ANGULAR, NODE JS)</p>
        <p>npm (node package manage)- it is the package manager for JavaScript and the world’s largest software registry. </p>
        <p>Sample code to start up:</p>
        <p>var http = requires('http'); <br>
           var server = http.createServer(); <br>
            server.listen(81);</p>
    </div>
    </div>
        <footer>

            <p>Web System and Technology &copy; 2017</p>

        </footer>

    <!-- jQuery -->
    <script src="styles/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
