<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEBTEK | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="styles/pmfgStyle.css" rel="stylesheet"/>
    
    <link rel = "icon" href = "/img/logofinal.jpg">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WEBTEK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>

                    <li>
                        <a href="prelim.html">Prelim</a>
                    </li>
                    <li>
                        <a href="midterm.html">Midterm</a>
                    </li>
                    <li>
                        <a href="finals.html">Finals</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ourTeam">Our Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome!</div>
                <div class="intro-heading">Web Systems and Technologies</div>
                <a href="#topics" class="page-scroll btn btn-xl">Topics</a>
            </div>
        </div>
    </header>

    <section id="topics">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Topics</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prelim</h4>
                    <p class="text-muted">Lessons during the prelim: Internet, Network, Protocols, Nodes, World Wide Web, HTML, HTTP, HTTPS, Servers, Categories of Headers, Status Code, etc...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Midterm</h4>
                    <p class="text-muted">Lessons during midterm: HTML, CSS, CSS Statements, CSS Rule Sets, CSS Frameworks and Preprocessors, pseudo classes, pseudo elements, negation pseudo class, structural pseudo classes, UI elements states, XHTML and Javascript</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Finals</h4>
                    <p class="text-muted">Lessons during finals: PHP, Node JS, etc..</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Team Section -->
    <section id="ourTeam" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/jaramel.jpg" width=200 height= 200 class="img-responsive img-circle" alt="id of Kenneth Jaramel">
                        <h4>Kenneth Jaramel</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/kenneth.jaramel"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.instagram.com/kenfeliix/"><i class="fa fa-instagram"></i></a>
                                <li><a href="https://twitter.com/iikennot"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/marinel.jpg" width=200 height=200 class="img-responsive img-circle" alt="id of Marinel Baucas">
                        <h4>Marinel Baucas</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/marinelbaucas"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/dianne.png" width=200 height=200 class="img-responsive img-circle" alt="id of Dainne Cayabyab">
                        <h4>Dianne Alyza Cayabyab</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/diannealyza.cayabyab"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/emarie.jpg" width=200 height=200 class="img-responsive img-circle" alt="image of Emarie Cayabyab">
                        <h4>Emarie Cayabyab</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/emtootx.liit"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/crizza.jpg" width=200 height=200 class="img-responsive img-circle" alt="id of Crizza Pascual">
                        <h4>Crizza Pascual</h4>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/crizza.pascual"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
    </section>

    <footer>
        <p>Web System and Technology &copy; 2017</p>
    </footer>

    <!-- jQuery -->
    <script src="styles/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
