<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEBTEK | Midterm</title>

    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="styles/pmfgStyle.css" rel="stylesheet"/>
    
     <link rel = "icon" href = "./img/logofinal.jpg">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WEBTEK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Home</a>
                    </li>

                    <li>
                        <a href="prelim.html">Prelim</a>
                    </li>
                    <li>
                        <a href="#page-top" class="page-scroll">Midterm</a>
                    </li>
                    <li>
                        <a href="finals.html">Finals</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome!</div>
                <div class="intro-heading">Web Systems and Technologies</div>
                <a href="#topics" class="page-scroll btn btn-xl">Midterm Lessons Click Here</a>
            </div>
        </div>
    </header>

	<div id="topics" class= "lessons menu ">
			<ul>
				<li><a href="#html">HyperText Mark-up Language</a></li>   
				<li><a href="#css">CSS</a></li>
					<li class="subTopic"><a href="#statements">CSS Statements</a></li>
					<li class="subTopic"><a href="#ruleSets">CSS Rule Sets</a></li>
					<li class="subTopic"><a href="#pclasses">Pseudo Classes</a></li>
					<li class="subTopic"><a href="#elementStates">UI Element States</a></li>
					<li class="subTopic"><a href="#negation">Negation Pseudo Class</a></li>
					<li class="subTopic"><a href="#structuralP">Structural Pseudo Classes</a></li>
					<li class="subTopic"><a href="#pElements">Pseudo Elements</a></li>
					<li class="subTopic"><a href="#preprocessors">CSS Preprocessors and CSS Framework</a></li>
					<li class="subTopic"><a href="#precedence">Precedence</a></li>
					<li class="subTopic"><a href="#declarators">CSS Declarators</a></li>
				<li><a href="#htmlandxhtml">HTML/XHTML</a></li>
				<li><a href="#xhtml">Extensible HyperText Mark-up Language</a></li>
				<li><a href="#js">Javascript</a></li>
			</ul>
	</div>
	<div class= "lessons content">
		<div id="html" class= "">	
			<h1>HTML(HyperText Mark-up Language)</h1>
			<p>created by Tim Berners Lee in the year 1989</p>
			<p>it is a language use to create a web page</p>
			<p>Web page - it is an electronic document</p>
			<p>HTML Versions:</p>
			<p>HTML 1.0</p>
			<p>HTML 2.0 (Nov. 1995) (RFC 1866)</p>
			<p>HTML 3.0 (w3c recommendation)</p>
			<p>HTML 3.2 (w3c recommendation)</p>
			<p>HTML 4.0 (w3c recomendation)</p>
				<p>3 versions:</p>
					<p>strict</p>
					<p>transition</p>
					<p>frame set<p>
			<p>HTML 4.01 (Dec. 24, 1999) (w3c recommendation)</p>
			<p>HTML 5.0 (2014)</p>
			<p>HTML 5.1 (2016)</p>
			<p>HTML Elements</p>
				<p>parent - html</p>
				<p>1st child -head (metadata)</p>
					<p>title, base, link, meta, style</p>
				<p>2nd child - body</p>
					<p>article, aside, nav, section, header, footer</p>
					<p>main</p>
					<p>contact information - address</p>
					<p>general purpose - div</p>
					<p>h1, h2, h3, h4, h5, h6 - should be use sequentially</p>
				<p>thematic break - hr (horizontal line)</p>
				<p>preformatted text - pre-indentation, whitespace</p>
				<p>coltation - blockquote</p>
				<p>ol (ordered list), ul (unordered list)</p>
				<p>li</p>
				<p>dl (description list)</p>
				<p>figure</p>
					<p>figcaption</p>
				<p>text level elements</p>
					<p>a</p>
					<p>em, strong, small, s</p>
					<p>cite, q</p>
					<p>afn, abbr</p>
					<p>ruby, rb, rt, rtc, rp</p>
					<p>data, time - embedded data</p>
					<p> code, var, scamp, kbd - embedding computer code</p>
					<p>sup, sub</p>
		</div>
		
		<div id="css" class= "">
		<h1>CSS(Cascading StyleSheet)</h1>
		<p> - language used to specify the presentation aspects(e.g layout and formatting)<br> of structurally marked up documents</p>
		<p> - developed by Hakon Wium Lie (CHSS)and Bert Bos (SSP)</p>
		<p>Versions:</p>
				<p> - CSS 1</p>
				<p> - CSS 2.1 -  June 7, 2011</p>
				<p> - CSS 3 </p>
		</div>
		<div id="statements" class= "">
			<h1>CSS Statements</h1>
			<p> * @charset</p>
			<p> * @import</p>
			<p> * @namespace</p>
			<p> * @documents</p>
			<p> * @font-face</p>
			<p> * @keyframes</p>
			<p> * @media</p>
			<p> * @page</p>
			<p> * @support</p>
		</div>
		<div id="ruleSets" class= "">
		<h1>CSS Rule Sets (a.k.a CSS Rules, Style Rules)</h1>
			<p> - consist of selectors</p>
			<p>Selector - structure used as a condition</p>
				<p>Simple Selectors</p>
					<p>type selectors</p>
						<p>ex. p</p>
					<p>universal selector - *</p>
					<p>attribute selector</p>
						<p>attribute selector</p>
							<p>[attr] [attr = value] [attr ~= value] [attr != value] [attr ^= value]
								[attr $= value] [attr *= value]</p>
					<p>class selector</p>
						<p>-targets class attribute</p>
					<p>ID selector - attribute</p>
		</div>
		<div id="pclasses" class= "">
					<h1>Pseudo Classes</h1>
						<p>-dynamic - link pseudo-classes</p>
						<p>link - hyperlinks</p>
						<p>-visited</p>
						<p>User Action Pseudo - Classes</p>
							<p>hover</p>
							<p>active - activate (click)</p>
							<p>focus - element has the focus</p>
						<p>Target Pseudo - class #x (fragment identifier or bookmark)</p>
							<p>:target</p>
						<p>Language</p>
							<p>:lang()</p>
		</div>
		<div id="elementStates" class= "">
					<h1>UI element states pseudo - classes</h1>
						<p>:enabled</p>
						<p>:disabled</p>
						<p>:checked</p>
						<p>:intermediate</p>
		</div>
		<div id="negation" class= "">
					<h1>Negation Pseudo - Class</h1>
						<p>:not()</p>
					<p>combinations</p>
						<p>decendant combinator</p>
						<p>whitespace</p>
		</div>
		<div id="structuralP" class= "">
					<h1>Structural Pseudo Classes</h1>
						<p>:root</p>
						<p>:first child</p>
						<p>:last child</p>
						<p>:only child</p>
						<p>:nth - child() 2n+1 for odd number, 2n- for even number</p>
						<p>:nth - last-child() - counting start at the bottom</p>
						<p>:first-of-type</p>
						<p>:last-of-type</p>
						<p>:only-of-type</p>
						<p>:nth-of-type</p>
						<p>:nth-last-of-type</p>
						<p>:empty - target an element w/o content</p>
		</div>
		<div id="pElements" class= "">
					<h1>Pseudo Elements</h1>
						<p>::first-letter</p>
						<p>::fisrt-line</p>
						<p>::before-insert content using css</p>
						<p>::after</p>
		</div>
		<div id="preprocessors" class= "">
		<h1>CSS Preprocessors, CSS Framework</h1>
			<p>Preprocessors - it is a program that converts data to another type of data</p>
			<p>Framework - designed to support the development of the web applications, including web services, web resources, and web APIs</p>
			<p>Sass (Syntactically Awesome Stylesheets), Less - implemented in JavaScript, 960 Grid System,Bootstrap, Foundation,Materialize - implemented in Ruby, etc.</p>
			<p>HTML Preprocessors</p>
				<p>Haml - ruby</p>
				<p>Markdown</p>
				<p>Slim</p>
				<p>Plug</p>
				<p>CSS Frameworks</p>
				<p>-Bootstrap</p>
		</div>
		<div id="precedence" class= "">
		<h1>css rule precedence</h1>
			<p>by Origin and Importance</p>
			<p> -user agent important declaration</p>
    			<p> -user important declaration</p>
    			<p> -author important declaration</p>
    			<p> -author important declaration</p>
   			<p> -user normal declaration</p>
    			<p> -user agent normal declaration</p>
  
			<p>by Specificity</p>
   			<p> -inline style</p>
   			<p> -number of ID Selectors</p>
    			<p> -number of class Selectors, attribute selectors, and pseudo-classes</p>
 			<p> -number of type selectors and pseudo-elements</p>
		<p>by origin and importance<p>
			<p> -user agent important declarations</p>
			<p> -user important declarations</p>
	 		<p> -author important declarations</p>
			<p> -author normal declarations</p>
			<p> -user normal declarations</p>
			<p> -user agent declarations</p>
			<p> -by specificity</p>
			<p> -inline style</p>
			<p> -member of id selectors</p>
			<p> -number of class selectors, attribute selectors and pseudo-classes</p>
			<p> -number of type selectors and pseudo-elements</p>
			
			<p>by order</p>
  		<p></p>
  		<p></p>
  		</div>
  		<div id="declarators" class= "">
			<h1>CSS Declarators</h1>
			
			<p>*properties</p>
    		 <p> -shorthand properties</p>
    		 <p> -vendor specific extensions (a.k.a vendor prefixes)</p>
  
  		<p>Value</p>
   		<p> *keywords</p>
   		<p>*number (integer and deals in decimal notation)</p>
   		<p>*dimension</p>
		<p> -length, angle, duration, frequency, resolution -properties</p>
    		 <p> -shorthand properties</p>
     		<p> -vendor specific extensions (a.k.a vendor prefixes)</p>
  

		<p>css declarations</p>
			<p> -properties</p>
			<p> -shorthand properties</p>
			<p> -vender-specific extensions(a.k.a vender prefix)</p>
			<p> -values</p>
			<p> -keywords</p>
			<p> -numbers(integers and real in decimal notation)</p>
			<p> -dimenisions</p>
			<p> -length, angle, duration,frequency, solution</p>
			<p> -length units</p>
			<p> -font relative: em,ex,ch, rem</p>
			<p> -view-post-percentage: vm,vh,vmin,vmax</p>
			<p> -absolute lengths: cm, mm, q, in, pt, pc,px</p>
			<p> -angle units</p>
			<p> -deg,grad,rad,turn</p>
			<p> -duration units</p>
			<p> -s, ms</p>
			<p> -frequncy units</p>
			<p> -hz,khz</p>
			<p> -resolution units </p>
			<p> -dpi, dpcm,dppx</p>
			<p> -percentage</p>
			<p> -url's and url's</p>
			<p> -colors</p>
			<p> -strings</p>
			<p> -functions: calc(), attr(),counter(),counters(),
			lineargradient(),radial-gradient(), tarnslate()
			scale(),rotate() etc.</p>
			
		</div>
		
		<div id="htmlandxhtml" class= "">
		<h1>HTML/XHTML</h1>
		<p> - Author Styles</p>
			<p> - what the author created</p>
			<p> - external stylesheets(recommended)</p>
			<p> - embedded styles</p>
			<p> - inline styles</p>
			<p> - User Style</p>
			<p> - allow a user to override the author's</p>
		<p> - User Agent Style</p>
			<p> - (example default CSS 2.1 stylesheet for HTML 4)</p>
		</div>
		
		<div id="xhtml" class= "">	

		<h1>XHTML</h1>
			<p>Extensible HyperText Mark-up Language</p>
			<p>January 2000</p>
			<p>reformation of HTML 4 in XML 1.0<p>
			<p>  - Documents must be well-formed</p>
  			<p>  - end task are requires</p>
            <p>  - Attribute values must be qouted</p>
  			<p>  - Attribute minimization</p>
		</div>
		<div id="js" class= "">	
		<h1>JavaScript</h1>
			<p>- imperative programming language </p> 
  			<p>- sequence of statement </p> 
  			<p>- sequence of instructions that modify  </p>
  			<p>- dynamically type language </p>
   				 <p>- never designate types  </p>
    			<p>- defacto programming language for the client side  </p>
    			<p>- eg var x=100;//number   </p>
    				<p> x = hello; //then become a string  </p> 
   				 <p>function max (x,y){ //declaring a function to return type  </p> 
    				<p> valid //max(5,10) || max(‘hi’, ‘hello’) || max (0, true) </p>
  		 <p> DOM not part of Javascript  </p>
  		 <p> - keywords: </p>
  			<p> - var  </p> 
     			<p>- let – only available within the block  </p> 
     			<p>- const – constant declaration; cant re-asign it to other</p>
  		<p> - eg "script"  </p>
     			<p> var x=100; </p> 
     			<p>  * let x = 100; //not get an error, just create it </p>
       			<p>function f(){ //function level code  </p>  
      				<p> var x = 200; //local variable; doesn’t exist outside of the function </p>    
       					<p>- //function scope variable   </p>
      			<p> } let x = 200; //only available in this part only; in this block only </p>    
         			 <p>- block local variables </p>
		<p>Java</p>
   			 <p>- safe, very rigid </p>
 		<p> JavaScript </p>
    			<p>- flexible, know what you are doing </p>
 		<p> Client-side Java Script </p>
   			 <p> - MDN – Mozilla Developer Network </p>  
    			 <p>- ECMAScript (Standard)   </p>
    			<p> - 3 Kinds of putting the JavaScript </p>
    				 <p>  -  externally link - (there’s an defer attribute)    </p>
     				 <p> - - embedded script - (execute as it is encountered) </p>   
     				 <p> - - inline script - </p>
     			 <p> ~ parse the engine starting from the top and fetch the .js (compile -> execute) </p>  
     			 <p> ~ put code on the script </p>
        		<p>  - top – level tool  </p>   
         			 <p> script      </p>
             				 <p> console.log (‘embedded script…’); </p>     
             				<p> function callMe(){       </p>
              				<p>console.log (‘you called…’); </p>     
            				 <p> }     </p>
            			<p> /script </p>
             			<p> buttononclick  ‘console.log(‘embedded script…’); callMe()’ </p> 
 		<p>* defer attribute </p>
     			<p>- from the top and when it gets through it (|) will compile -> execute </p>
    			 <p>- start fetching and not wait until execute fully done </p>
   			 <p> - eg ~~ hello </p>
    			<p> - script defer type = ‘text/javascript’ src = ‘script.js’> </p>
 		<p>* async attribute </p>
     			<p>- continue rendering the document, but when it is available, it executes and compile it. </p> 
     			<p>- eg ~~~ hello </p>
    			<p> - script type = ‘text/javascript’ src = ‘script.js’> //up or down </p>
   			 <p> - <noscript> no scripting support </noscript> ~no support for  scripting </p>
  		<p>* pre-defined object </p>
    			<p> - window (global object)   [window.screen.width] </p>
     				 <p> - navigator – vendor, appversion </p>
      				<p> - screen – width, availHeight </p>
      				 <p>- document – getElementById, childNodes </p>
       					 <p> Examples </p>
         				 <p>  - document.getElementById(‘h’) </p>
         				 <p>  - h.innerText = ‘hi’ </p>
        				 <p>   - h.innerHTML = ‘hi <em> there </em>’ </p>
       					 <p>   - h.textContent </p>
        				 <p>    -h.title </p>
        				 <p>    -h.lang  </p>      
         				 <p>   -h[‘lang’] = ‘en.us’ </p>        
         				 <p>  - h.data-extra </p>
            				 <p>   - not valid character in name of javascript </p>
 		<p>* get/set – on normal attribute </p>
   			<p>- h.setAttribute (‘data-extra’, ‘value’) </p>
    			<p> - use if not part of … </p>
  				<p> - h.get Attribute (‘data-extra’) </p>
   			<p>- h.style = ‘color: blue’ </p>
     				 <p>- create an inline style        </p>
    				 <p>- available (all) on the style attribute </p>
    				 <p> - all values (if properties) must assign as a string (‘hi’)  </p>      
  				 <p> - h.style.fontSize = ‘3em’ </p>
		<p>* attribute name        </p>
   			<p>- h.className = ‘green-text’ </p>
   			<p>- document.querySelector(‘p’)       </p> 
        			<p> - return the first element that matches it </p>
 			<p> - document.querySelectorAll(‘p’) /(‘p:first-child’)/ </p>
      				<p> (‘p:first-of-type’) /    (‘h1+p’) </p>
             				<p>  - first’s p    - follow h1 </p>
   			<p>- s.querySelectorAll(‘p’)         </p>
     			<p> <p>- all with ‘s’ element </p>
  			<p> - s.matches (‘p’) //=false    </p>    
    			<p> - elements not paragraph </p>
  			<p> - doctype: document.childNodes  </p>       
         			<p>     document.children //=html </p>
          		<p>    document.head.childNodes            //=title, style, tex </p>
			
		<p>Methods</p>
			<p>Mutators - Can modify</p>
				<p>- Push</p>
				<p>- Pop</p>
				<p>- Shift - shift down, queue</p>
				<p>- Unshift - shift up</p>
				<p>- Sort - strings can be sorted alphabetically</p>
				<p>- Splice</p>
			<p>Acessors - Dont modify array</p>
				<p>- Concat</p>
				<p>- Includes</p>
				<p>- IndexOf - looking for element</p>
				<p>- Join - concatenate</p>
				<p>- Slice - same as get</p>
				<p>- localString</p>
			
		<p>Iterator</p>
			<p>- filter - result is [ ] array</p>
			<p>- find - find all elements that satisfy</p>
			<p>- entries -all pairs</p>
			<p>- keys - index</p>
			<p>- values - all values</p>
			<p>- every - applies function</p>
			<p>- forEach - call function</p>
			<p>- map - calculate value for each element</p>
			<p>- reduce - accumulator</p>
			<p>- reduceRight()</p>
		
		<p>Primitive type</p>
			<p>- Boolean</p>
				<p>- Truthy - true unless it is not empty</p>
				<p>- Falsy - null, 0, undefined</p>
			<p>- Strings - no charcater type; can be delimited by single or double qoute</p>
			<p>- Undefined - false; null</p>
			<p>- Number</p>
	    </div>
	 </div>

	    <footer>
            <p>Web System and Technology &copy; 2017</p>
        </footer>

    <!-- jQuery -->
    <script src="styles/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
