.lessons{
    float: left;
    padding: 15px;
}
.menu {
    max-width: 250px;
}

.menu ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.menu li {
    font-family: Abril Fatface;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #35424a;
    font-weight: bold; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu a{
    color: #e8491d;
}
.menu li:hover {
    background-color: #f99e5b;
}

h1{
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
  text-align: center;
  display: inline-block;
  border-bottom: 3.5px solid #e8491d;
}

h2{
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 40px;
    margin: 0; 
}
pre{
    margin-top: 10px;
}

h3{
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 25px;
    margin: 0;  
}

h4{
    font-family: Abril Fatface;
    font-weight: bold;
    font-size: 20px;
    margin: 0;  
}
.content div {
    display: none;
}

.content div:target {
    display: block;
}

/* footer */
footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 50px;
  font-size: 20px;
  clear: both;
  background-color: #69b3c0;
  text-align: center;
  font-weight: bold;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*return to the top arrow button*/
#btn {
    display: none;
    width: auto; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: rgba(0, 0, 0, 0.80); 
    color: white;
    cursor: pointer; 
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px; 
}

#btn:hover {
    background-color: rgba(168, 52, 21, 0.8);
}