body{
    box-sizing:border-box;
    font-family: Papyrus;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: dimgrey;
    text-align: center;
    color: #ffffff;
	font-weight: bold;  
	text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 );
	height: 100vh;
}
.mySlides {
    display:none;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px;   
}
header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .active a{
    color:  #e8491d;
    font-weight: bold;  
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase h2{
	color: rgb( 232, 73, 29 );
    margin-top: 100px;
    font-size: 110px;
    margin-bottom: 10px;
	z-index: 1;
	-webkit-text-stroke: 3px black;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0px;
	background-color: #35424a;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
max-height: 515px;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
 color: rgb( 232, 73, 29 );
   font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
    z-index: 1;
	-webkit-text-stroke: 3px black;
}
/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active2 {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
