body, div, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-image: url('bgboard.jpg');
	background-repeat: repeat;
    	background-attachment: fixed;
	background-size: 70% 100%;
	background-size: 70% 100%;
}

@font-face{
	 font-family: raven1_serif;
	 src: url(raven1_serif.ttf);
 }

div.holder {
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 140px;
	padding-right: 140px;
	margin-bottom: 20px;
}

#container {
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background: black;
}

#picture {
	padding: 50px 50px 50px 50px;
}

ul#navigator {
	margin: 10%;
	list-style:none;
	float:none;
	position:fixed;
	width:100%;
}

ul#navigator li {
	float:left;
	list-style: none;
}

ul#navigator li a {
        display:block;
	text-align:center;
	padding:40px;
	text-decoration:none;
	color:white;
	font-size: 25px;
	font-family:raven1_serif;
}

ul#navigator li:hover{
    	border-color: #66afe9;
    	box-shadow: 0 0 150px rgba(255,255,102, 0.6);
	border-radius: 100px;
}
