body{
    box-sizing:border-box;
    font-family: Abril Fatface;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
    text-align: center;
    color: #ffffff;
    font-weight: bold;  
    text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 ); 
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 );
}
header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px;   
}
header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .active a{
    color:  #e8491d;
    font-weight: bold;  
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#showcase{
	background: url("../images/background/showcase.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	height: 90vh;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 75px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#showcase h1{
    text-align: center;
	color: rgb( 232, 73, 29 );
    margin-top: 100px;
    font-size: 130px;
    margin-bottom: 10px;
	z-index: 1;
	-webkit-text-stroke: 3px black;
	text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 );
}

p{
	color: black;
}

.containerForNotes{
	float: left;
	padding-top: 30px;
	padding-left: 165px;
}

.containerForNotes h1{
	color: #000;
	-webkit-text-stroke: 0.5px black;
	border-bottom: 5px solid #e8491d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}