body, div, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-image: url('bgboard.jpg');
	background-repeat: repeat;
    	background-attachment: fixed;
	background-size: 70% 100%;
	background-size: 70% 100%;
}	

div.holder {
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 140px;
	padding-right: 140px;
	margin-bottom: 20px;
}

#container {
	height: auto;
	width: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background: black;
}

#picture {
	padding: 50px 50px 50px 50px;
}

ul#navigator {
	text-align: center;
	overflow: hidden;
	width: 670px;
	margin: 0 auto;
}

ul#navigator li {
	float: left;
	list-style: none;
}
