body{
	font-family: Papyrus;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
	font-weight: bold;
	text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 );
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
	font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px; 	
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .active a{
    color:  #e8491d;
    font-weight: bold;  
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
main{
    width: 80%;
    margin: 2rem auto;
}
section{
    width: 100%;
    box-shadow: 0 0 10px 2px #ccc;
    padding: 1rem 0;
    background: #35424a;
}
figure{
    width: calc(100% / 4);
    float: left;
    margin-bottom: 1rem;
    position: relative;
}
figure img{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 0;
    border-radius: 50%;
    
}
figure h4{
    background: #35424a ;
    color: #cccccc;
    text-align: center;
    padding: .7rem;
    margin: 0 1rem;
    font-size: 18px;
}
section::after, section::before{
    content: "";
    display:block;
   
}
section::after{
    clear: both;
}
@media only screen and (max-width:1024px){
    html{
        font-size: 14px;
    }
    figure{
        width: calc(100% / 2);
    }
}