body{
	font-family:  Abril Fatface;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    text-align: center;
    color: black;
	font-weight: bold;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
	font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0.035in 0.06in 0.06944444444444in rgb( 0, 0, 0 );
}
header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px; 	
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight, header .active a{
    color:  #e8491d;
    font-weight: bold;  
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
	text-align: center;
	display: inline-block;
    border-bottom: 5px solid #e8491d;
	font-size: 50px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 8px 50px 50px 8px;
}

img.id{
    width: 200px;
    height: 200px;
}

.row{
	padding-top: 20px;
	padding-left: 28px;
}

.otherRow{
	padding-left: 320px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}